.custom-submit-button:disabled {
  background-color: gray;
  color: white;
}

.custom-nav {
  color: #082f49 !important;
}

.nav-link.active {
  background-color: #082f49 !important;
  color: white !important;
}

.app-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
}

.image-text-size {
  width: 4em;
  height: 4em;
  vertical-align: middle;
  margin-left: 6px;
}

@media (max-width: 325px) {
  .footer {
    font-size: 9px;
  }
  #navbar {
    flex-direction: column;
  }

  #navbar ul {
    justify-content: center;
  }

  #navbar ul li {
    margin: 5px 0;
  }
}
