.custom-submit-button:disabled {
  background-color: gray;
  color: white;
}

.custom-nav {
  color: #082f49 !important;
}

.nav-link.active {
  background-color: #082f49 !important;
  color: white !important;
}

.app-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
}

.image-text-size {
  width: 4em;
  height: 4em;
  vertical-align: middle;
  margin-left: 6px;
}

.save-new-coin {
  background: #417b5a;
  border-color: #417b5a;
}

.save-new-coin:hover {
  background: #5fbf88;
  border-color: #5fbf88;
}

.already-saved-coin {
  color: white !important;
}

.already-saved-coin {
  background: #0c4a6e !important;
  border-color: #0c4a6e !important;
}

@media (max-width: 325px) {
  .footer {
    font-size: 9px;
  }
  #navbar {
    flex-direction: column;
  }

  #navbar ul {
    justify-content: center;
  }

  #navbar ul li {
    margin: 5px 0;
  }
}

.coin {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  animation: spin 10s linear infinite;
}

.coin-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
}

.coin-front,
.coin-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.coin-front {
  background-color: #ccc;
}

.coin-back {
  background-color: #fff;
  transform: rotateY(180deg);
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

